.txt_show{height: 30px;line-height: 30px;width: 100%;overflow: hidden;}
.txt_l{float: left;color:red;}
.txt_r{float: right;width: 800px;overflow:hidden;}
.txt_con{width: 5000px;animation:gogo 10s infinite linear;position:relative;left:0;}
.txt_con:hover{animation-play-state: paused;}
 @keyframes gogo{
        from{left:0;}
        to{left:-1000px;}
    }
.row_one{overflow:hidden;height: 30px;margin-top: 20px;line-height: 30px;}
.introduct{float: left;}
.menu{float: right;background: #fcf;height: 30px;padding:0 8px;cursor: pointer;}
.banner{width:100%; height:380px; margin:20px auto; position:relative; overflow:hidden;}
.banner ul{width:100%; position:absolute; left:0; top:0; height:380px;}
.banner ul li{display:inline-block; width:100%; height: 380px;position:relative; overflow:hidden;}
.banner ul li img{ position:absolute; left:50%; margin-left:-950px; top:0;}
.banner ol{position:absolute;height: 13px;width: 100px;right:10px;bottom:10px;}
.banner ol li{width:70px;height: 13px;float: left;margin:0 3px;background: #999;border-radius:13px;cursor:pointer;text-align: center;line-height: 13px;color:#fff;display: none;}
.banner ol li.current{background: #FC3;display: block;}
.banner span{width:100px; height:100px;position:absolute; left:50%; top:50%; margin-top: -50px; cursor:pointer; font-size:100px; font-weight:bold; color:#fff; line-height: 100px; text-align: center; display:none;}
.banner span.leftBtn{ margin-left:-500px;}
.banner span.rightBtn{ margin-left:400px;}
.nav{overflow:hidden;}
.nav_l{float: left;width: 200px;border:1px solid #999;margin-right: 20px;}
.nav_r{float: left;width: 745px;}
.all_menu{width: 100%;text-align: center;height: 30px;line-height: 30px;background:#ccf;display: inline-block;}
.nav_l li{width: 100%;height: 30px;text-align: center;line-height: 30px;border-bottom: 1px solid #999;cursor: pointer;position:relative;}
.nav_l li:nth-last-of-type(1){border:0 none;}
.hidee{width: 100%;position:absolute;left:200px;top:0;background:#ffc;display: none;}
.hidee div{height: 30px;width: 100%;text-align: center;}
.nav_rt{overflow:hidden;}
.nav_rtname{float: left;height: 30px;line-height: 30px;}
.set_one{float: left;margin-left: 10px;height: 30px;line-height: 30px;width: 200px;}
.search{float: left;margin-left: 10px;width: 200px;height: 28px;line-height: 28px;border:1px solid #999;}
.search span{height: 30px;width: 30px;display: inline-block;background:url(../img/search.jpg) no-repeat center center;float: left;}
.search input{height: 28px;width: 160px;padding-left:10px;box-sizing: border-box;float: left;}
.nav_pic{overflow:hidden;margin-top: 20px;width: 745px;}
.nav_picl{height: 130px;width: 130px;float: left;overflow:hidden;}
.nav_picl img{margin:0 auto;}
.nav_picr{float: left;margin-left: 18px;line-height: 20px;border:1px solid #999;padding-left: 10px;padding-bottom: 10px;box-sizing: border-box;}
.nav_picr p{overflow:hidden;}
.nav_picr .span1{display: inline-block;width: 100px;height: 20px;line-height: 20px;float: left;}
.nav_picr .span2{color:#666;font-size:14px;margin-left: 5px;float: right;display: inline-block;width: 480px;}
.paging{overflow:hidden;margin-top: 20px;}
.paging div{float: right;}
.paging a{padding:3px 4px;background: #fcf;}
.paging a:hover{background:#ccf;}
/*===================detail============*/
.btn{margin-top: 20px;}
.btn span{height: 30px;width: 100px;background:#ccf;color:#fff;display: inline-block;margin:0 auto;cursor: pointer;line-height: 30px;text-align: center;}
.main{margin-top: 20px;}
.main_l{float: left;width: 200px;border:1px solid #999;}
.main_lt{width: 100%;background:#fcf;}
.main_lb{width: 100%;background:#ccf;}
.main_r{width: 700px;float: left;margin-left: 10px;}
.main_r .main_lb{margin-top: 10px;}
.say_table{margin-top: 20px;padding:10px;box-sizing: border-box;}
.say_table p{margin-bottom: 10px;}
.ul1,.ul2{overflow:hidden;background:#cfc;width: 800px;}
.ul2{background:#fcf;border-bottom: 1px solid #999;}
.ul1 li{height: 20px;line-height: 20px;}
.say_table li{float: left;width: 200px;text-align: center;}
.ul2 li{line-height: 30px;text-align: center;}
/*==========下单成页面=========*/
.arguments{margin-top: 20px;}
.arguments_t{width: 600px;height: 30px;line-height: 30px;background:#ccf;text-align: center;margin:0 auto;}
.arguments ul{margin:0 auto;display: block;width: 600px;border-bottom: 1px solid #999;overflow:hidden;}
.arguments li{float: left;width: 300px;line-height: 30px;background:#fcf;padding-left: 10px;box-sizing: border-box;}
.big_box{margin-top: 20px;}
.big_boxt{text-align: center;font-size: 16px;color:#666;}
.big_box textarea{width: 600px;display: block;margin:0 auto;border:1px solid #999;margin-top: 10px;}
.nav_picl img{cursor: pointer;}