@charset "utf-8";
/* CSS Document */
/* css 初始化 */
/* 1.清除浏览器默认样式 */ 

*{margin:0;padding:0;}
/* 2.针对性处理 */
ol,ul{ list-style:none;}
li{list-style: none;}
textarea{ resize:none;padding:5px 0 0 5px;box-sizing: border-box;outline-style: none;}
img{ border:none; display:block;/*img底部空白*/}
input,area{ outline:none;border:0 none;list-style: :none;padding-left:8px;box-sizing: border-box;}        /* 谷歌浏览器表单元素外框 */
em,i{font-style:normal;}
/* 3.设置全局样式 */
body{ color:#333; font-size:12px; font-family:"微软雅黑";background-color: #f1eded}
a{color:#fff; text-decoration:none;}
input{font-family:"微软雅黑";border:0 none;height: 24px;}
label{cursor:pointer;}
/*定义常用类*/
.clearfix:after,.clearfix:before{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.kuangjia{width: 782px;border:1px solid #dedede;padding:10px 25px 0 20px;box-sizing: border-box;margin:0 auto;}
.wrap{width: 1000px;margin:0 auto;}